.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #513bcf;
}

.card {
    width: 85vw;
    height: 85vh; 
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.containerHeader {
    background-color: #8b2ca8;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.headerSearch {
    flex-basis: 30%;
    position: relative;
}

.headerSearch input {
    margin: 0;
    width: calc(100% - 5px);
    box-sizing: border-box;
}

.dropdown {
    position: absolute; 
    top: 100%; 
    left: 0; 
    width: calc(100% - 5px);; 
    background-color: white; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    z-index: 1; 
    overflow-y: auto; 
}

.dropdown div {
    padding: 10px;
    cursor: pointer;
}

.dropdown div:hover {
    background-color: #eee;
}

.headerTitle {
    padding-left: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.containerMain {
    display: flex;
    flex: 1;
}

.mainSidenav {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex-basis: 30%;
    background-color: #549c5a;
    margin-right: 5px;
}

.sidenavHistory {
    flex: 1;
    flex-basis: 30%;
}

.sidenavInfo {
    flex: 1;
    margin: 10px;
}

.infoContainer {

}

.mainContent {
    border-radius: 10px;
    flex: 1;
    background-color: #753b3b;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.contentLog {
    flex: 1;
    flex-basis: 80%;
    margin: 10px 10px 5px 10px;
}

.contentChat {
    flex: 1;
    margin: 5px 10px 10px 10px;
    display: flex;
}

.contentChat textarea {
    border-radius: 5px;
}

.chatMessage {
    margin: 10px 10px 25px 10px;
}

.chatMessage h3 {
   margin: 0;
}

.contentChat textarea {
    box-sizing: border-box;
    flex: 1;
    margin: 0;
    word-wrap: break-word;
    overflow-y: auto;
    resize: none;
}

.contentChat button {
    flex-shrink: 0;
    margin: 0;
}